body {
	background-position: center center;	  
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1950px 1100px;
}
h1
{
	text-align: center;
	text-decoration: underline;
	font-family: Courier;
}
img
{
	width: 80px;
	height: 80px;
	border: 2px solid;
	margin: -2px;
}

.medidas
{
	width: 200px;
	height: 145px;
	border-radius: 10px;
	border:3px solid;
}

#letra
{
	font-family: Courier; 
	font-size: 30px; 
	color: black; 
	text-align: center;
}
.medidas2
{
	width: 1200px;
	height: 145px;
	border-radius: 10px;
	border:3px solid;
}
.board
{
	text-align:center;
	width: 640px;
	height: 640px;
	margin-left:auto;
	margin-right: auto; 
}

.pieza{
	font-size: 20pt;
}
/*Estilo de los botones*/
.boton
{
	width: 190px; 
	height: 30px; 
	cursor: pointer; 
	background-color: #ffffff;
	border-radius: 6px;
}
.boton:hover
{
	color: #0099ff;
	background-color: #ffffff;
}
.botonR
{
	width: 190px; 
	height: 30px; 
	cursor: pointer; 
	border-radius: 2px;
	background-color: #ffffff;
	border-radius: 6px;
}
.botonR:hover
{
	color: #ff0000;
	background-color: #ffffff;
}