body {
	background-position: center center;	  
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1900px 1000px;
}
h1
{
  color: white;
  background-image: linear-gradient(white, grey, black);
}
.boton {
  color: #318aac ;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border-radius: 6px;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
}
.boton:hover {
  background-image: linear-gradient(white, pink);
  color: #000000;
}
