table{
	height: 300px;
	width: 700px;
}
th{
	border-bottom: 4px solid blue;
}
.rojo{
	background: rgb(241, 148, 138);
}
.azul{
	background:rgb(200,200,240);
}
#arriba{
	vertical-align: text-top;
}
#derecha {
	text-align: right;
	vertical-align: center;
}
#abajo{	
	text-align: center;
	vertical-align: bottom;
}
#negrita{
	font-weight: bold;
}






































































	;
}