table {
	width: 550px;
	height: 260px;
}
#format{
	vertical-align: text-top;
	text-align: center;
	font-family: fraktur;
}
#format2{
	text-align: center;
	font-family: fraktur;
}
#green{
	background:rgb(175,215,135);
}
#orange{
	background:rgb(250,200,140);
}
#red{
	background:rgb(241,168,168);
}
