.table{
	height: 100px;
	width: 800px
}
.table2{
	height: 100px;
	width: 800px
}
.logo{
	width: 100px;
	height: 100px
}

#blue{
	background: rgb(59,143,204);
	color: rgb(255,175,58);
	font-weight: bold;
	text-align: center;
	font-size: 15pt;
}